$mon: "Montserrat", sans-serif;

$white: #ffffff;
$black: #000000;

$whiteBorder: #f2f2f2;
$whiteBackground: #f0f4f8;
$whiteBackgroundUnread: #f5f7fa;
$whitePlaceholder: #eaeef2;
$whiteBorderSignIn: #e3e3e3;

$placeholder: #cbcbcb;
$placeholderColor: #828282;

$blackLight: #343434;
$contentDark: #474747;
$contentDarkSignIn: #4a4a4a;

$greyBorder: #bcbcbc;
$greyBorderChat: #f0f0f0;
$greyBorderInput: #cfcfd0;
$grey: #c6c6c6;
$greyLight: #cccccc;
$greyDark: #4c4c51;
$greyBlack: #8b8b8b;
$greyPoint: #a5a5a8;
$greyBackground: #f3f3f3;
$greyMessages: #e2e2e2;
$greyLocation: #606060;

$signInBack: #676e80;

$orange: #f26528;

$pink: #ff114e;

$red: #ed4b5a;

$pink20: transparentize($pink, 0.5);
